<configuration>
    <appender name="Sentry" class="io.sentry.logback.SentryAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%level] [%logger{0}] [%t] %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="Sentry"/>
    </root>
    <logger name="org.apache" level="NONE" />
    <logger name="com.sedmelluq.*" level="INFO" />
    <logger name="httpclient" level="NONE" />
    <logger name="gravity.gbot.Main" level="INFO" />
</configuration>