{% extends "base.twig" %}

{% block head %}
    <link href="/css/dashboard.css" rel="stylesheet"/>
{% endblock %}

{% block nav_li %} 
    <li><a href="/">Home</a></li>
    <li><a href="/features">Features</a></li>
    <li><a href="/commands">Commands</a></li>
    <li><a href="/dashboard" class="selected">Dashboard</a></li>
{% endblock %}    

{% block main %}
<main>
    
</main>
{% endblock %}